# configure/autotools output
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
doxygen
doxygen.log
Doxyfile
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
mdate-sh
missing
stamp-h1
stamp-vti
INSTALL
NOTES
tags
compile
depcomp
install-sh
ltmain.sh
missing
ar-lib*

m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/ltsugar.m4
m4/lt~obsolete.m4
m4/ltsugar.m4
m4/lt~obsolete.m4
m4/*

build/*
